
$color-primario: hsl(26, 100%, 55%) ;
$color-secundario: hsl(25, 100%, 94%);
$color-terciario: hsl(220, 13%, 13%);
$color-cuarto: hsl(219, 9%, 45%);
$color-quinto: hsl(220, 14%, 75%);
$color-sexto: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black :hsl(0, 0%, 0%,);
$Black-modal :hsl(0, 0%, 0%, 0.5);

/* fuentes */
$fuente1: 'Kumbh Sans', sans-serif;



